#
# Project configuration variables
#

# Directories seen from "powerlink/<project>/" folder.
# This file is included there, so 'pwd' refers to this folder.

POWERLINKFLDR="openPOWERLINK_CNDKPatched"                       # Name of openPOWERLINK folder
POWERLINKDIR="`pwd`/../generic/${POWERLINKFLDR}"                # openPOWERLINK stack path 
EDRV_DIR="`pwd`/../generic/POWERLINK_IP_Edrv"		            # Ethernet driver path 
PCP_COMMON_DIR="`pwd`/../common"                                # PCP common sources path
PCP_TARGET_DIR="`pwd`/../target"                                # PCP target sources path
LIBAPIDIR="`pwd`/../../libCnApi"                                # CN API library path


